In [16]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red','blue','yellow','white'], columns=['ball','pen','pencil','paper'])

    # np.sqrt() помогает нам найти квадратный корень всех значений

f = lambda x: x.max() - x.min()
    # лямбда функция, это любая функция которую мы определяем самостоятельно, она может как утроить значение, так и выполнить удвоение или любую другую операцию вложенную в нее. 
    # использовать лямбда функцию можно в любой части скрипта отдельно
    # выше мы определили лямбда функцию, которую мы создали сами
    # С помощью apply() новая функция применяется к Dataframe

frame.apply(f)
    # ball      12
    # pen       12
    # pencil    12
    # paper     12

frame.apply(f, axis=1)
    # red       3
    # blue      3
    # yellow    3
    # white     3

    # Можно также применить несколько функций одновременно, Но теперь результатом будет объект Dataframe, а не Series, в котором столько строк, сколько значений функция возвращает

def f(x):
    return pd.Series([x.min(), x.max()], index=['min','max'])
frame.apply(f, axis=1)
    # прописываем функцию и затем применяем ее к нашему объекту
    # так же мы можем указать ось к которой будет применена функция

        min  max
red       0    3
blue      4    7
yellow    8   11
white    12   15

In [1]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(21).reshape((3,7)), index=['red','blue','yellow'], columns=['ball','pen','pencil','paper', 'gun', 'heart', 'pencil'])

frame.describe()
    # describe расчитывает всю статистику и выдает в виде таблицы

       ball   pen  pencil  paper   gun  heart  pencil
count   3.0   3.0     3.0    3.0   3.0    3.0     3.0
mean    7.0   8.0     9.0   10.0  11.0   12.0    13.0
std     7.0   7.0     7.0    7.0   7.0    7.0     7.0
min     0.0   1.0     2.0    3.0   4.0    5.0     6.0
25%     3.5   4.5     5.5    6.5   7.5    8.5     9.5
50%     7.0   8.0     9.0   10.0  11.0   12.0    13.0
75%    10.5  11.5    12.5   13.5  14.5   15.5    16.5
max    14.0  15.0    16.0   17.0  18.0   19.0    20.0

In [2]:
import pandas as pd
import numpy as np

frame = pd.DataFrame(np.arange(21).reshape((3,7)), index=['red','blue','yellow'], columns=['ball','pen','pencil','paper', 'gun', 'heart', 'pencil'])

frame.describe().sum()
    # describe расчитывает всю статистику и выдает в виде таблицы

ball      52.0
pen       58.0
pencil    64.0
paper     70.0
gun       76.0
heart     82.0
pencil    88.0
dtype: float64

In [2]:
import pandas as pd
import numpy as np

ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])

ser.sort_index()
    # отсортировали по алфавиту

ser.sort_index(ascending=False)
    # сортируем в порядке убывания алфавита

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [16]:
import pandas as pd
import numpy as np

frame = np.array(np.arange(21).reshape(3,7))

frame
sr = np.lexsort(frame, axis=0)
sr
    # функция сортировки позволяет отсортировать

array([0, 1, 2, 3, 4, 5, 6])

In [4]:
    # Два важных типа статистических вычислений — корреляция и вариантность. В pandas они представлены функциями corr() и cov(). Для их работы нужны два объекта Series.

import pandas as pd
import numpy as np

seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008',
'2009','2010','2011','2012','2013'])
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008',
'2009','2010','2011','2012','2013'])
seq.corr(seq2)
# 0.7745966692414835
seq.cov(seq2)
# 0.8571428571428571

frame2 = pd.DataFrame([[1,4,3,6],[4,5,6,1],[3,3,1,5],[4,1,6,4]], index=['red','blue','yellow','white'], columns=['ball','pen','pencil','paper'])

frame2
frame2.corr()
    # расчитываем как данные в таблице коорелируют между собой

frame2.cov()
    # узнаем какоц разброс в данных

    # С помощью метода corwith() можно вычислить попарные корреляции между колонками и строками объекта Dataframe и Series или другим DataFrame().

    # frame2.corrwith(frame)

            ball       pen    pencil     paper
ball    2.000000 -0.666667  2.000000 -2.333333
pen    -0.666667  2.916667 -0.333333 -1.333333
pencil  2.000000 -0.333333  6.000000 -3.666667
paper  -2.333333 -1.333333 -3.666667  4.666667

In [16]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\Максим Феликсович\\Documents\\GitHub\\my_data_analyst_road\\test_dataset\\supermarket\\supermarket_sales_sheet1.csv')

# cr = df.corwith([['Customer type', 'gross margin percentage']])
# cr

df['Customer type'].unique()
    # array(['Member', 'Normal'])
    # из объекта типа DataFrame можно выбрать колонку и использовать необходимые функции только для нее

df[['Tax 5%', 'Total', 'cogs']].corr()
    # здесь мы передаем массив с колонками относительно которых хоти посмотреть корреляцию и применяем соответствующую функцию

    #ПРЕДПОЛОГАЕМЫЙ ФОРМАТ ЗАПИСИ с corwith() 

# df[['column_name', 'column_name', 'column_name']].corrwith(df_2[['column_name', 'column_name', 'column_name']])
    # С помощью метода corwith() можно вычислить попарные корреляции между колонками и строками объекта Dataframe и Series или другим DataFrame().

        Tax 5%  Total  cogs
Tax 5%     1.0    1.0   1.0
Total      1.0    1.0   1.0
cogs       1.0    1.0   1.0

In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\Максим Феликсович\\Documents\\GitHub\\my_data_analyst_road\\test_dataset\\supermarket\\supermarket_sales_sheet1.csv')

df.isna().sum()
    # Invoice ID                 0
    # Branch                     0
    # City                       0
    # Customer type              0
    # Gender                     0
    # Product line               0
    # Unit price                 0
    # Quantity                   0
    # Tax 5%                     0
    # Total                      0
    # Date                       0
    # Time                       0
    # Payment                    0
    # cogs                       0
    # gross margin percentage    0
    # gross income               0
    # Rating                     0

    # с помощью данного метода мы производим подсчет всех значений NaN во всех колонках
    # для удаления значений NaN используется функция .dropna(), если же нам нужно удалить колонку в которой все значения NaN, то можно воспользоваться параметром how='all' функции .dropna()
    # так же существует параметр thresh=1 в котором мы указываем количество валидных значений NaN, то есть мы оставляем строки с одним занчением NaN при значении параметра thresh=1

df.fillna(0)
    # так же мы можем заменить значения NaN на необходимые

df.info()
    # с п омощью функции .info() мы получаем полную информацию о данных в датасете

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB